@import "./utilits/variables";
@import "./utilits/mixins";
@import "./utilits/placeholders";
@import "./utilits/keyframes";
@import "./utilits/common";
@import "./components/common/header";
@import "./components/common/footer";
@import "./components/common/social";
@import "./components/main_page/hero";
@import "./components/main_page/modal";
@import "./components/main_page/about-us";
@import "./components/main_page/we_do_this";
@import "./components/main_page/team";
@import "./components/portfolio/pirtfolio";
@import "./utilits/adaptive";