
:root {
  --color-gray: #757575;
  --color-dgray: #212121;
  --color-lgray: #ececec;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-fon: #2f303a;
  --color-lfon: #f5f4fa;

}