:root {
  --color-gray: #757575;
  --color-dgray: #212121;
  --color-lgray: #ececec;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-fon: #2f303a;
  --color-lfon: #f5f4fa;

}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h2 {
  text-align: center;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
a, button, .button-selector {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.button-selector:hover {
  background-color: var(--color-blue);
}