.about-us, .our-team,  .we_do_this{
  padding-top: 120px;
}

.about-us-item {
  flex: 1 0 270px;
  flex-basis: 100%;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-us-item:hover {
  box-shadow: 3px 3px 2px rgba(47, 48, 58, 0.4);
}
.about-us-item::before {
content: '';
  display: block;
  width: 100%;
  height: 120px;
  background-color: var(--color-lfon);
  background-image: url(../imgs/antenna1.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;

}

.about-us-item:nth-child(2)::before {
  background-image: url(../imgs/clock1.png);
}
.about-us-item:nth-child(3)::before {
  background-image: url(../imgs/diagram1.png);
}
.about-us-item:nth-child(4)::before {
  background-image: url(../imgs/astronaut1.png);
}

.about-us p, .our-team p {
  font-weight: normal;
  color: var(--color-gray);
  line-height: 1.5;
}
