.hero {
  height: 600px;
  background-color: var(--color-fon);
  color: var(--color-white);
  background: 
  linear-gradient(0deg, rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), 
  url(../imgs/Img.png) center no-repeat;
  background-size:cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero p {
  max-width: 696px;
  margin: 0 auto ;
  padding: 0 40px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  
}
.hero .btn-open, .submit {
  height: 50px;
  width: 216px;
  margin: 30px;
  color: var(--color-white);
  text-align: center;
  border-radius: 4px;
  background-color: var(--color-blue);
  position: relative;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn-open:hover, .submit:hover {
  box-shadow: 2px 2px 2px rgba(47, 48, 58, 0.4);
}
