/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 1s ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 8px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%);
  z-index: 100;
  
}
.modal-title {
color: var(--color-black);
text-align: center;
}

.btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  background-color: inherit;
  font-size: 18px;
  padding: 0;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}
.mod-form {
  width: 448px;
  margin: 0 auto;
}
.mod-form label {
  display: block;
  color: #000000;
  text-align: left;
  margin-left: 15px;
  
}
.mod-form input, .mod-form input:focus {
border: none;
outline: none;
}

.mod-form-outline {
  width: 100%;
  height: 40px;
  outline: 1px solid var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  border-radius: 10px;
}
.input_icon {
width: 18px;
height: 18px;
background-color: var(--color-gray);
}
.mod-form-outline input {
  flex-grow: 1;
  text-align: left;
}

.mod-form-outline:focus-within {
outline: 1px solid var(--color-blue);
}
.mod-form-outline:focus-within>.input_icon{
background-color: var(--color-blue)
}
.mod-form>textarea {
  display: block;
  margin-left: 0;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: 1px solid var(--color-gray);
}
.mod-form>textarea:focus {
  outline: 1px solid var(--color-blue);
}

.useragr {
  display: flex;
  gap: 0;
  text-align: left;
  padding-top: 10px;
}
.useragr>input {
margin: 0;
}
.useragr_text {
  text-transform: none !important;
  font-size: 14px !important;
  color: var(--color-dgray);
  padding: 0 !important;

}
.useragr_text p{
  margin: 0;
}
.useragr_text a, .useragr_text a:visited {
  transform: none;
  color: var(--color-blue);
}

.submit {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
/* end modal */