.team-card {
flex: 1 0 270px;
flex-basis: 100%;
box-shadow: 
0px 0px 2px 0px var(--color-gray),
0px 2px 2px 0px var(--color-gray);
text-align: center;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card:hover {
  box-shadow: 
0px 0px 2px 0px var(--color-gray),
2px 2px 2px 2px var(--color-gray);
}
.our-team img {
  height: auto;
  width: 100%;
  background-color: var(--color-lfon);
}