.we_do_this {
  display: none;
}

.we_do_this-item {
  position: relative;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.we_do_this-item:hover{
  box-shadow: 3px 3px 2px rgba(47, 48, 58, 0.4);
}
.we_do_this-item p {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
