/* FOOTER */
footer .container {
  display: flex;
  justify-content: left;
  align-items: center;
}
footer {
  height: 252px;
  background-color: var(--color-fon);
  color: var(--color-gray);
  padding-top: 60px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer p:hover {
color: var(--color-white);
}