/* header */
header {
  height: 80px;
}
header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  flex-basis: 285px;
  display: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.nav-item {
  position: relative;
}
.nav a, nav a:visited {
  color: var(--color-black);
}
nav a:hover {
  color: var(--color-blue);
}
.nav-item::after {
    content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  bottom: -20px;
  left: 0;
  
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; 
}
.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.current_page {
  position: relative;
}
.current_page::after {
  content: '';
  position: absolute;
  
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  bottom: -20px;
  left: 0;
  animation: current 1000ms ease-out infinite;
}


.contact-head { 
  display: flex;
  fill: var(--color-gray);
  color: var(--color-gray);
  gap: 12px;
  display: none;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}
.contact-head-item:hover { 
  fill: var(--color-blue);
  color: var(--color-blue);
}
.contact-head a {
  color: inherit;
}

.contact-head-item > svg {
  height: 18px;
  width: 18px;
  }