
.social {
  display: flex;
   list-style-type: none;
  justify-content: center;
  /* align-items: center; */
height: 48px;
width: 270px;
margin: 0 auto;
padding: 0;
gap: 10px !important;
}
.socnet {
  height: 20px;
  width: 20px;
  padding: 0;
}
.social-item {
  height: 44px;
  width: 44px;
  padding: 0px;
  margin: 0px;
border-radius: 100%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
fill: #757575;
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .social-item
{
  background-color: var(--color-gray);
  fill: var(--color-white);
}
.social-item:hover {
  background-color: #2196f3;
  fill: var(--color-white);
}
/* .socnet:hover {
  fill: var(--color-lgray);
} */
use {
  margin: 0;
  padding: 0;
}

.trasit-popup {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.trasit-popup:hover {
  transform: scale(1.2) translate(-5px, -5px);
  box-shadow: 3px 3px 3px 1px  var(--color-gray);
}